<!-- ADD AN ITEM -->

    <div class="button text-center add-button">
    <a href="">Add another item</a>
  </div>


<div class="row m-tb">
  <div class="col-sm-12">
    <div class="add-product p-tb hide">
      <div class="row">
  <div class="col-md-12">
          <ul class="type-icons text-center">
        <% @items.each do |item| %>
            <li class="type-icon bg-c1-light inl">
              <%= image_tag item.category, alt: "item-category", class: "" %>
            </li>
          <% end %>
          </ul><br><br>
        </div>
    </div>
      <div class="row">
        <div class="col-xs-5">
          <img class="test" src="">
        </div>
        <div class="col-xs-7">

        <%= simple_form_for @listing do |f| %>
    <%= f.input :title, :class => "input"%>
    <%= f.input :description, :class => "input" %>
    <%= f.input :quantity, :class => "input" %>
    <%= collection_select(:listing, :item_id, Item.all, :id, :kind) %>
    <%= f.input :image %>
    <%= f.button :submit , :class => "submit-item button" %>
    <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
