<li class="listing col-sm-6 row m-tb">
  <!-- FRONTSIDE -->
  <div class="listing-front col-sm-12">
    <div class="bg-c1 p-tb">
      <div class="type-icon bg-c1-light abs">
        <p><%= image_tag l.item.category, alt: "item-category", class: "" %></p>
        <!-- <div id="heart"></div> -->
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div>
            <%= image_tag l.image, alt: "listing-image", class: "listing-img bg-c3 " %>
            <a href=<%="/users/#{l.user.id}" %>>
            <%= image_tag l.user.user_img, alt: "usr-image", class: "user-img-s bg-c4 abs" %>
            </a>
          </div>
        </div>
        <div class="col-xs-12">
          <div>
            <h3><%= l.title %></h3>
            <p><%= l.description %></p>
            <p>Quantity (aprox.): <%= l.quantity %></p>
            <br>
            <a class="bold small flip-to-back" href="">SHOW EXCHANGES</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- BACKSIDE -->
  <div class="listing-events col-sm-12">
    <div class="bg-c4 height p-tb">
      <div class="row">
        <div class="listing-event col-xs-12">
          <div>
            <h3><span class="map-icon">Icon</span>Gathering Title</h3>
            <p>Address line 1</p>
            <p>Address line 2</p>
            <p><span>9:00AM-2:00PM</span>Date of event</p>
            <a href="">Join Gathering</a>
          </div>
        </div>
        <div class="listing-event col-xs-12">
          <div>
            <h3><span class="map-icon">Icon</span>Gathering Title</h3>
            <p>Address line 1</p>
            <p>Address line 2</p>
            <p><span>9:00AM-2:00PM</span>Date of event</p>
            <a href="">Join Gathering</a>
          </div>
        </div>

        <div class="listing-event col-xs-12">
          <br><br><br><br><br><br><br>
        <a class="small bold flip-back" href="">RETURN</a>
        </div>
      </div>
    </div>
  </div>

</li>




