<section class="page-left map col-md-5 nopadding">


      <!-- MAP -->
  <div class="googlemap" id="multi_markers"></div>
  <% if user_signed_in? && current_user.id == @user.id %>
    <div class="button abs mapbutton">
      <a data-toggle="modal" data-target="#myAddEvent">Add Exchange</a>
    </div>
  <% else %>
    <div class="button abs mapbutton">
      <a data-toggle="modal" data-target="#mySignup">Add Exchange</a>
    </div>
  <% end %>
</section>

  <div class="page-right col-md-7">
    <section class="filters">
    <!-- Add Exchange Modal -->
    <%= render "pages/addevent" %>

      <!-- Type filter -->
      <div class="filter-type row p-tb">
        <div class="col-md-2">
          <h2 class="bold xl">TYPE</h2>
        </div>
        <div class="col-md-10">
          <ul class="type-icons text-center">
            <!-- will be created dynamically -->
            <li class="type-icon bg-c1-light inl">
              <img src="<%= asset_path 'i-produce.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-eggs_dairy.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-meat_fish.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-bakery.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-pantry.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-herbs_spices.svg' %>">
            </li>
          </ul>
        </div>
      </div>
      <!-- Search filed -->
      <div class="filter-search row p-tb">
        <div class="col-md-5">
          <h2 class="bold xl">SEARCH</h2>
        </div>

         <div class="col-md-7">

        <%= form_tag('/', :method => "get", id: "search-form", class:"search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Listings" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
        </div>
      </div>
    </section>

    <section class="listings-section">
        <ul class="listings">
          <% if @listings && !@listings.empty? %>
            <% @listings.each do |l| %>
              <%= render 'listing', l: l %>
            <% end %>
          <% else %>
          Nobody is sharing that, try something else.
          <% end %>
        </ul>
    </section>

  </div> <!-- end of right container-->
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({
    provider: {
      zoom:      2,
      center:    new google.maps.LatLng(0, 0)
    },
    internal: {id: 'multi_markers'}},
    function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
