<div class="container-fluid nopadding">

  <header class="debugger">
    <div class="nav-bar">
      <h1 class="logo">Cultivated Commerce</h1>
      <div class="nav-right">
        <h3>User Name</h3>
      </div>
      <div>
        <img class="user-img-s" src="">
      </div>
    </div>
  </header>

  <section class="map col-md-5 nopadding">
    <div class="button abs mapbutton">
      <a href="">add exchange</a>
    </div>
    <div class="googlemap">
      <div id="multi_markers" style='width: 800px; height: 400px;'></div>

      <!-- <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50457.15380196072!2d-122.36215482530719!3d37.77663006075536!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80859a6d00690021%3A0x4a501367f076adff!2sSan+Francisco%2C+CA!5e0!3m2!1sen!2sus!4v1417302995695" width="100%" height="800px" frameborder="0" style="border:0">
      </iframe> -->
    </div>
  </section>

  <div class="col-md-7">
    <section class="filters">

      <!-- Add a product -->
     <!--  <div class="row p-tb">
        <div class="col-md-5">
          <a class="button" href="">Add a product</a>
        </div>
      </div> -->

      <div class="row p-tb">
        <div class="col-md-2">
          <p>Day for Exchange:</p>
        </div>
        <div class="filter-days col-md-10">
          <ul class="days">
            <!-- will be created dynamically -->
            <li class="day inl">MON  |  </li>
            <li class="day inl">TUE  |  </li>
            <li class="day inl">WED  |  </li>
            <li class="day inl">THU  |  </li>
            <li class="day inl">FRI  |  </li>
            <li class="day inl">SAT  |  </li>
            <li class="day inl">SUN</li>
          </ul>
        </div>
      </div>
      <!-- Type filter -->
      <div class="filter-type row p-tb">
        <div class="col-md-2">
          <p>Type:</p>
        </div>
        <div class="col-md-10">
          <ul class="type-icons">
            <!-- will be created dynamically -->
            <li class="type-icon bg-c1 inl">icon</li>
            <li class="type-icon bg-c1 inl">icon</li>
            <li class="type-icon bg-c1 inl">icon</li>
            <li class="type-icon bg-c1 inl">icon</li>
            <li class="type-icon bg-c1 inl">icon</li>
            <li class="type-icon bg-c1 inl">icon</li>
            <li class="type-icon bg-c1 inl">icon</li>
          </ul>
        </div>
      </div>
      <!-- Search filed -->
      <div class="filter-search row p-tb">
        <div class="col-md-5">
          <p>Specific product:</p>
        </div>
         <div class="col-md-7">
        <%= form_tag('/', :method => "get", id: "search-form", class:"search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Listings" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
        </div>
      </div>
    </section>

    <section class="listings-section">
        <ul class="listings">
          <% if @listings && !@listings.empty? %>
            <% @listings.each do |l| %>
              <%= render 'listing', l: l %>
            <% end %>
          <% end %>
        </ul>
    </section>

  </div> <!-- end of right container-->
</div> <!-- end of container -->

<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(
      <%= @events_coords %>
      );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });    
</script>