<section class="map col-md-5 nopadding">
  <div class="button abs mapbutton">
    <a href="">add exchange</a>
  </div>
      <!-- MAP -->
      <div class="googlemap" id="multi_markers"></div>
  </section>

  <div class="col-md-7">
    <!-- Add Exchange Modal -->
    <div class="modal fade" id="myAddExchange" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title" id="myModalLabel">Add exchange</h4>
          </div>
          <div class="modal-body">
            <%= render "pages/addevent" %>
          </div>
        </div>
      </div>
    </div>
    <section class="filters">

      <!-- Add a product -->
     <!--  <div class="row p-tb">
        <div class="col-md-5">
          <a class="button" href="">Add a product</a>
        </div>
      </div> -->

      <!-- <div class="row p-tb">
        <div class="col-md-2">
          <p>Day for Exchange:</p>
        </div>
        <div class="filter-days col-md-10">
          <ul class="days text-center">
            <li class="day inl">MON  |  </li>
            <li class="day inl">TUE  |  </li>
            <li class="day inl">WED  |  </li>
            <li class="day inl">THU  |  </li>
            <li class="day inl">FRI  |  </li>
            <li class="day inl">SAT  |  </li>
            <li class="day inl">SUN</li>
          </ul>
        </div>
      </div> -->

      <!-- Type filter -->
      <div class="filter-type row p-tb">
        <div class="col-md-2">
          <p>Type:</p>
        </div>
        <div class="col-md-10">
          <ul class="type-icons text-center">
            <!-- will be created dynamically -->
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>

          </ul>
        </div>
      </div>
      <!-- Search filed -->
      <div class="filter-search row p-tb">
        <div class="col-md-5">
          <p>Specific product:</p>
        </div>
         <div class="col-md-7">
        <%= form_tag('/', :method => "get", id: "search-form", class:"search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Listings" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
        </div>
      </div>
    </section>
    <button type="button" class="button" data-toggle="modal" data-target="#myAddExchange">Add exchange</button>
    <section class="listings-section">
        <ul class="listings">
          <% if @listings && !@listings.empty? %>
            <% @listings.each do |l| %>
              <%= render 'listing', l: l %>
            <% end %>
          <% end %>
        </ul>
    </section>

  </div> <!-- end of right container-->


<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(
      <%= @events_coords %>
      );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>