<section class="page-left map col-md-5 nopadding">
  <div class="button abs mapbutton">
    <a href="">add exchange</a>
  </div>
      <!-- MAP -->
  <div class="googlemap" id="multi_markers"></div>
</section>

  <div class="page-right col-md-7">
    <section class="filters">

      <!-- Type filter -->
      <div class="filter-type row p-tb">
        <div class="col-md-2">
          <p>Type:</p>
        </div>
        <div class="col-md-10">
          <ul class="type-icons text-center">
            <!-- will be created dynamically -->
            <li class="type-icon bg-c1-light inl">
              <img src="<%= asset_path 'i-produce.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-eggs_dairy.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-meat_fish.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-bakery.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-pantry.svg' %>">
            </li>
            <li class="type-icon bg-c1-light inl">
               <img src="<%= asset_path 'i-herbs_spices.svg' %>">
            </li>

          </ul>
        </div>
      </div>
      <!-- Search filed -->
      <div class="filter-search row p-tb">
        <div class="col-md-5">
          <p>Specific product:</p>
        </div>
         <div class="col-md-7">
        <%= form_tag('/', :method => "get", id: "search-form", class:"search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search Listings" %>
          <%= submit_tag "Search", :name => nil %>
        <% end %>
        </div>
      </div>
    </section>

    <section class="listings-section">
        <ul class="listings">
          <% if @listings && !@listings.empty? %>
            <% @listings.each do |l| %>
              <%= render 'listing', l: l %>
            <% end %>
          <% end %>
        </ul>
    </section>

  </div> <!-- end of right container-->
<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    markers = handler.addMarkers(<%=raw @hash.to_json %>);
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>
