<section class="map col-md-5 nopadding">
  <div class="button abs mapbutton">
    <a href="">add exchange</a>
  </div>
      <!-- MAP -->
      <div class="googlemap" id="multi_markers"></div>
  </section>

  <div class="col-md-7">
    <section class="filters">

      <!-- Add a product -->
     <!--  <div class="row p-tb">
        <div class="col-md-5">
          <a class="button" href="">Add a product</a>
        </div>
      </div> -->

      <!-- <div class="row p-tb">
        <div class="col-md-2">
          <p>Day for Exchange:</p>
        </div>
        <div class="filter-days col-md-10">

          <ul class="days text-center">            
            <!-- will be created dynamically -->
            <li class="day inl">MON  |  </li>
            <li class="day inl">TUE  |  </li>
            <li class="day inl">WED  |  </li>
            <li class="day inl">THU  |  </li>
            <li class="day inl">FRI  |  </li>
            <li class="day inl">SAT  |  </li>
            <li class="day inl">SUN</li>
          </ul>
        </div>
      </div> -->

      <!-- Type filter -->
      <div class="filter-type row p-tb">
        <div class="col-md-2">
          <p>Type:</p>
        </div>
        <div class="col-md-10">
          <ul class="type-icons text-center">
            <!-- will be created dynamically -->
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>
            <li class="type-icon bg-c1 inl">
              <i class="fa fa-bicycle fa-2x"></i>
            </li>

          </ul>
        </div>
      </div>
      <!-- Search field -->
      <div class="filter-search row p-tb">
        <div class="col-md-5">
          <p>Specific product:</p>
        </div>
         <div class="col-md-7">
            <%= form_tag('/', :method => "get", id: "search-form", class:"search-form") do %>
              <label>
              <input type="checkbox" id="1">Monday</label>
              
              <label>
              <input type="checkbox" id="2">Tuesday</label>
              <label>
              <input type="checkbox" id="3">Wednesday</label>
              <%= text_field_tag :search, params[:search], placeholder: "Search Listings" %>
              <%= submit_tag "Search", :name => nil %>
            <% end %>
        </div>
      </div>
    </section>

    <section class="listings-section">
      <ul class="listings">
          <% if @listings && !@listings.empty? %>
            <% @listings.each do |l| %>
              <%= render 'listing', l: l %>
            <% end %>
          <% end %>
        </ul>
    </section>

  </div> <!-- end of right container-->


<script>
  var handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'multi_markers'}}, function(){
    var markers = handler.addMarkers(
      <%= @events_coords %>
      );
    handler.bounds.extendWith(markers);
    handler.fitMapToBounds();
  });
</script>