
<!-- LEFT SIDE -->
<section class="user col-md-5 bg-c1">
	<div class="user-info text-center">
		<% if user_signed_in? && current_user.id == @user.id %>
		<div><a href="">Edit</a></div>
		<% end %>
		<img class="user-img" src=" <%= @user.user_img %> ">
		<h2> <%= @user.first_name %></h2>
		<p> <%= @user.about %> </p>
	</div>
	<div>
		<a class="button" href="mailto:<%= @user.email %> ">Contact</a>
		<% if user_signed_in? && current_user.id == @user.id %>
		<form>
			<input type="checkbox" name="private_contact" value= true><label = "private_contact"> Make my email private</label>
		</form>
		<% end %>
	</div>
	<div>
		<h2>My exchanges</h2>
		<% if user_signed_in? && current_user.id == @user.id %>
		<div class="button"> <a href="">Create an exchange</a></div>
		<%end %>
		<ul class="exchanges">
			<% if @user.events && !@user.events.empty? %>
			<% @user.events.each do |e| %>
			<%= render 'events', e: e %>
			<% end %>
			<% end %>
		</ul>
	</div>
	<div>
		<h2>Exchanges I Attend</h2>
		<ul class="exchanges">
			<li class="exchange">
				<div class="map-icon">Icon</div>
				<h3>Exchange Name</h3>
				<p>Address for exchange line 1</p>
				<p>Address for exchange line 2</p>
				<p><span>9AM-2PM</span> every sunday</p>
				<% if user_signed_in? && current_user.id == @user.id %>
				<a href="">unattend exchange</a>
				<% end %>
			</li>
		</ul>
	</div>
</section>

<!-- RIGHT SIDE -->
<section class="listings col-md-7">
	<% if user_signed_in? && current_user.id == @user.id %>
	<div>
		<a href="">Add a product</a>
	</div>
	<div>
		<ul class="type-icons">
			<li type="type-icon">Icon</li><!--  ITERATE OVER LIST ONCE DOING AJAX CALL  -->
		</ul>
		<form class="listing-form" action="/" type="post">
			<img src="">
			<input type="text" name="Title" value="Listing Title">
			<input type="text" name="Description" value="Add description">
			<input type="text" name="Quantity" value="Example: 4lbs">
			<input type="button" value="Submit">
			<select>
				<% @items.each do |item| %>
				<option value="type"><%= item.kind %></option>
				<% end%>
			</select>
		</form>
	</div>
	<% end %>
	<ul class="listings">
		<% if @user.listings && !@user.listings.empty? %>
		<% @user.listings.each do |l| %>
		<%= render 'listing', l: l %>
		<% end %>
		<% end %>
	</ul>
</section>


